.squidcart {
  #admin-main {

    #titlebar {
      .mode-container {
        position: relative;
        .mode-banner {
          position: absolute;
          left: 0;
          right: 0;
          z-index: 5;
          text-align: center;
          line-height: 0;
          pointer-events: none;
          top: -14px;
          &.test {
            border-bottom: 1px solid #f5925e;
          }
          &.live {
            border-bottom: 1px solid #0090d9;
          }
          .mode-content {
            position: relative;
            box-sizing: border-box;
            display: inline-block;
            height: 14px;
            padding: 2px 8px;
            color: #fff;
            font-size: 10px;
            line-height: 10px;
            border-radius: 4px 4px 0 0;
            &.test {
              background-color: #f5925e;
            }
            &.live {
              background-color: #0090d9;
            }
          }
        }
      }
    }
    .admin-block {
      padding-top: 0;
    }
      .title {
        display: inline-block;
        vertical-align: middle;
        line-height: 35px;
      }

      .tabs-content {
        .tab__content {
          padding-top: 0;
        }
        .form-tab {
          //padding-left: 1.5rem;
        }
      }


  }

  .details {
    flex: auto;
    width: 100%;
    padding: 0;
    background: $white;

    .details-wrapper {
      display:none;

      .details-section {
        padding-bottom: 15px;
        font-size: 13px;

        .details-container {
          line-height: 13px;
          overflow: auto;
          position: relative;
          border: 1px solid $content-tabs-bg;
          background: $white;
          margin-top:8px;
          table thead tr:hover {
            background-color: #414147;
          }
          .section-define-left {
            float: left;
            width: 50%;
          }
          .section-define-right {
            float: right;
            width: 50%;
          }
          dt {
            display: block;
            float: left;
            padding: 0 15px 0 13px;
            line-height: 22px;
            text-align: right;
            width: 30%;
          }
          dd {
            color: $black;
            min-height: 22px;
            line-height: 22px;
            word-wrap: break-word;
            overflow: hidden;
            margin-left: 30%;
          }
        }
      }
    }
  }

  .rounded {
    border-radius: 7%;
  }
  .d-block {
    display: block !important;
  }
  .text-right {
    text-align: right;
  }

  .no-border {
    border: none !important;
  }

  .bt {
    border-top:1px solid $content-tabs-bg !important;
  }

  // Spacing
  @include margin-variant(0, 0);
  @include margin-variant(1, $unit-1);
  @include margin-variant(2, $unit-2);
  @include margin-variant(neg2, -$unit-2);
  @include margin-variant(3, $unit-3);

  @include padding-variant(0, 0);
  @include padding-variant(1, $unit-1);
  @include padding-variant(2, $unit-2);
  @include padding-variant(3, $unit-3);


  @keyframes slideInUp {
    from {
      transform: translate3d(0, 100px, 0);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slideOutDown {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      visibility: hidden;
      transform: translate3d(0, 150px, 0);
    }
  }

  @keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }


  /* Animation override */
  //.animated {
  //  animation-duration: 2s;
  //  animation-delay: 0s !important; }
  //
  //.js-Pjax {
  //  position: relative; }
  //
  //.js-Pjax-child {
  //  width: 100%; }
  //
  //.js-Pjax-remove {
  //  position: absolute;
  //  left: 100%; }
  //
  //
  //@keyframes fadeIn {
  //  from {
  //    opacity: 0;
  //  }
  //
  //  to {
  //    opacity: 1;
  //  }
  //}
  //
  //.fadeIn {
  //  animation-name: shake;
  //}
  //
  //@keyframes fadeOut {
  //  from {
  //    opacity: 1;
  //  }
  //
  //  to {
  //    opacity: 0;
  //  }
  //}
  //
  //.fadeOut {
  //  animation-name: fadeOut;
  //}
}
