// Nav
$nav-bg:                        #3D424E !default;
$nav-text:                      #B7B9BD !default;
$nav-link:                      #ffffff !default;
$nav-selected-bg:               #323640 !default;
$nav-selected-link:             #ffffff !default;
$nav-hover-bg:                  #434753 !default;
$nav-hover-link:                #ffffff !default;

$white:                         #ffffff !default;
$black:                         #000000 !default;
$light-gray:                    #e3e3e3 !default;
$gray:                          #B7B9BD !default;

// Toolbar
$toolbar-bg:                    #ffffff !default;
$toolbar-text:                  #3D424E !default;

// Page
$page-bg:                       #F6F6F6 !default;
$page-text:                     #6f7b8a !default;
$page-link:                     #0090D9 !default;

// Content
$content-bg:                    #ffffff !default;
$content-text:                  #6f7b8a !default;
$content-link:                  #0090D9 !default;
$content-link2:                 #da4b46 !default;
$content-header:                #414147 !default;
$content-tabs-bg:               $light-gray;
$content-tabs-text:             #808080 !default;

// Buttons
$button-bg:                     #0090D9 !default;
$button-text:                   #ffffff !default;

// Notice
$notice-bg:                     #06A599 !default;
$notice-text:                   #ffffff !default;

// Updates
$update-bg:                     #77559D !default;
$update-text:                   #ffffff !default;

// Critical
$critical-bg:                   #F45857 !default;
$critical-text:                 #ffffff !default;
