.squidcart {

  .modal-unsaved-wrapper {
    width: 100%;
    position: absolute;
    bottom: 100px;
    z-index:99;
    display:none;

    #modal-unsaved {
      background: $content-tabs-bg;
      max-width: 600px;
      width: 80%;
      padding: 10px;
      color: $content-header;
      margin: 0 auto;
      border-radius: 5px;
      @include animation(0, 0.7s, slideInUp);
      border: 1px solid black;

      p {
        display: inline-block;
        font-weight: bold;
      }

      .actions {
        display: inline-block;
        float: right;

        a {
          vertical-align: middle;
          color: $content-text;
          margin-right: 20px !important;
        }

        button {
          background-color: $notice-bg;
          color: white;
          padding-left: 12px !important;
          padding-right: 12px !important;
        }
      }

      &.shake {
        @include animation(0, 0.7s, shake);
      }

      &.slideOutDown {
        @include animation(0, 0.7s, slideOutDown);
      }
    }
  }
}
