.squidcart {
  #admin-main {
    table {
      thead {
        background-color: $content-header;
        color: $white;
        tr {
          td {
            padding: 8px;
            &.expandable {
              flex-basis:30.5px;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 8px;

            &.bold {
              font-weight: bold;
            }
            &.expandable {
              cursor: pointer;
              i {
                transform: rotate(0);
                transition: transform .25s ease-in-out;
                &.spin {
                  transform: rotate(90deg);
                }
              }
            }



          }
          &:hover {
            background-color: $content-tabs-bg;
          }
        }
      }
      tr {
        border-bottom: 1px solid #f7f7f7;
        align-items: center;
        justify-content: center;
        td {
          border-bottom: none;
        }
      }
    }
  }

  .badge {
    &.canceled {
      background-color: #FF4136;
    }
  }
}
