<div class="modal-action-wrapper hide">
    <div id="modal-action" class="modal" data-modal-action>
        <p class="m-0 py-2" data-modal-message>{{ 'PLUGIN_SQUIDCART.CARDS.DELETE_SUCCESS'|tu }}</p>
        <div class="actions pl-40 py-2">
            {% spaceless %}
                <a class="mr-0" href="#" data-modal-dismiss>{{ 'PLUGIN_SQUIDCART.DISMISS'|tu }}</a>
            {% endspaceless %}
        </div>
    </div>
</div>
